.btn-album{
    position: relative;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    transition-duration: 200ms;
    padding: 0;

    .btn-album-info{
        content: '';
        position: absolute;
        width: 100%;
        background-image: linear-gradient(#00000029, black);
        bottom: 0;
        padding: 1rem;
    }

    &:hover{
        transition-duration: 200ms;
        opacity: 0.8;
        transform: scale(0.9);
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.637);
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .btn-album-info-title{
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        font-family: 'Noto Sans JP', sans-serif;
        color: white;
    }

    .btn-album-info-track-number{
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        font-family: 'Noto Sans JP', sans-serif;
        color: #ffffff69;
    }
}