@import "../../variables.css";

.header{
    background: var(--black);
    padding: 1rem 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header div{
    flex-basis: 100%;
}

.header-logo{

}

.header-logo img{
    width: 140px;
}

.header-search{

}

.header-search input{
    width: 100%;
    border-radius: 5px;
    border: 0;
    padding: .61rem;
    font-size: 1rem;
    background: #696969;
    outline: none;
    transition-duration: 250ms;

    &:focus{
        background: #b9b9b9;
        transition-duration: 250ms;
    }
}

.header-user{
    text-align: right;
}