@import "../../variables.css";

.header{
    background: var(--black);
    padding: 1rem 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-logo{
        flex-basis: 40%;
    }
    .header-search{
        flex-basis: 60%;
    }
    .header-user{
        flex-basis: 40%;
    }
}

.header-logo{

}

.header-logo img{
    width: 140px;
}

.header-search{
    position: relative;
    input{
        width: 100%;
        border-radius: 5px;
        border: 0;
        padding: .90rem .61rem .90rem 2.35rem;
        font-size: 1rem;
        background: #696969;
        outline: none;
        transition-duration: 250ms;

        &:focus{
            background: #b9b9b9;
            transition-duration: 250ms;
        }
    }
}

.header-search-icon{
    position: absolute;
    width: 19px;
    height: 19px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z' fill='black'/%3E%3C/svg%3E%0A");
}

.header-user{
    text-align: right;
}