@import "variables.css";

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#root{
    width: 100%;
    height: 100vh;
}

body {
    display: flex;
    height: 100vh;
    background: var(--gray);
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.primary-title{
    font-size: 3rem;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}

.content{
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 8rem;
    
    .grid-albums{
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, minmax(155px, 1fr));
        grid-gap: 20px;
    }

    .grid-tracks{
        display: flex;
        flex-direction: column;
    }
}

.btn-authorize {
    background: var(--white);
    border-radius: 35px;
    padding: 1rem 2rem;
    color: var(--green);
    text-decoration: none;
    outline: none;
    display: inline-block;
}

.btn-back{
    text-decoration: none;
    outline: none;
    display: inline-block;
    background: none;
    border: none;
    font-size: 1.6rem;
    margin-top: 1.5rem;
}

.track{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: .6rem;
    background: rgba(0, 0, 0, 0.31);
    border-radius: 6px;
    cursor: pointer;

    .track-name{
        color: #CECECE;
    }
    .track-duration{
        color: rgba(255, 255, 255, 0.822);
    }
}

// header-album
.header-album{
    display: flex;
    flex-direction: row;
    padding: 1rem 0 3rem 0;
    align-items: center;

    .header-album-cover{
        padding-right: 2rem;

        img{
            width: 180px;
            border-radius: 5px;
        }
    }
    .header-album-details{
        
    }

    .header-album-details-artist{
        margin: 0;
        font-size: 1rem;
    }

    .header-album-details-song{
        margin: 0;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .header-album-details-number-songs{
        margin: 0;
        font-size: 0.875rem;
    }
}